* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 body {
   font-family: Arial, sans-serif;
   background-color: #a3d6c4;
   padding: 20px;
 }
 
 header {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   margin-bottom: 30px;
 }
 
 .header-title {
   background-color: #b6e2cd;
   color: #000;
   font-size: 24px;
   padding: 20px 0;
   border-radius: 40px;
   box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
   width: 70%;
   text-align: center;
 }
 
 
 .user-icon {
   position: absolute;
   right: 20px;
   width: 50px;
   height: 50px;
   border: 2px solid #000;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .user-icon::before {
   content: "";
   width: 10px;
   height: 10px;
   border: 2px solid #000;
   border-radius: 50%;
   position: absolute;
   top: 10px;
 }
 
 .user-icon {
  position: absolute;
  right: 20px;
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* <- Adiciona esse aqui */
}

 
 .card {
   display: flex;
   background-color: #71c4a2;
   padding: 20px;
   border-radius: 10px;
   margin-bottom: 20px;
 }
 
 .card img {
   width: 100px;
   height: 100px;
   object-fit: cover;
   margin-right: 20px;
   border-radius: 10px;
 }
 
 .text-block {
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: #ffffff;
 }
 
 .text-block p {
   margin-bottom: 10px;
 }
 